<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>myObjectAdder</servlet-name>
        <servlet-class>com.mahan.UI.Controller.ObjectAdder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myObjectAdder</servlet-name>
        <url-pattern>/ObjectAdder</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>myStudent</servlet-name>
        <servlet-class>com.mahan.UI.Controller.StudentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myStudent</servlet-name>
        <url-pattern>/student/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myStudent</servlet-name>
        <url-pattern>/admin/student/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myTeacher</servlet-name>
        <servlet-class>com.mahan.UI.Controller.TeacherController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myTeacher</servlet-name>
        <url-pattern>/teacher/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myTeacher</servlet-name>
        <url-pattern>/admin/teacher/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myCourse</servlet-name>
        <servlet-class>com.mahan.UI.Controller.CourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myCourse</servlet-name>
        <url-pattern>/course/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myCourse</servlet-name>
        <url-pattern>/admin/course/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myLoginController</servlet-name>
        <servlet-class>com.mahan.UI.Controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myLoginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myErrorHandler</servlet-name>
        <servlet-class>com.mahan.UI.Controller.ErrorHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myLogoutController</servlet-name>
        <servlet-class>com.mahan.UI.Controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myLogoutController</servlet-name>
        <url-pattern>/logout/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>login</filter-name>
        <filter-class>com.mahan.Filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>login</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>logged</filter-name>
        <filter-class>com.mahan.Filter.LoggedFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>logged</filter-name>
        <url-pattern>/login.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>role</filter-name>
        <filter-class>com.mahan.Filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>role</filter-name>
        <url-pattern>/teachercourses.jsp</url-pattern>
    </filter-mapping>
</web-app>